apiVersion: apps/v1
kind: Deployment
metadata:
  name: catalog-deployment
  namespace: zamazon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: catalog
  template:
    metadata:
      labels:
        app: catalog
    spec:
      containers:
        - name: catalog
          image: sharat789/zamazon-be-ms-catalog:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: catalog-env-config